@media screen and (min-width: 1080px) {
  .top-row p {
    width: 60rem;
    height: 11rem;
    margin: 3rem auto auto;
  }

}

.top-row {
  padding: 1rem 2rem;
  background: rgb(247,231,255);
  background: radial-gradient(circle, rgba(247,231,255,1) 0%, rgba(158,202,255,1) 70%, rgba(249,179,255,1) 95%);
  color: #000000;
  height: 30%;
  word-wrap: break-word;
  overflow: scroll;
  font-weight: 500;
  background-attachment: fixed;
}
  .top-row p {
    text-align: center;
    font-size: 1rem;
    line-height: 1.6rem;
    letter-spacing: 0.04rem;
  }










