@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&family=Ubuntu:wght@300;400;700&display=swap')
body
  background: #c84c8d
  padding: 2em
  font-family: 'Quicksand',sans-serif

