@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&family=Ubuntu:wght@300;400;700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,500;0,700;1,300&display=swap')

body
  background: #f4fdff
  font-family: 'Rubik',sans-serif

.header
  padding: 1em
  background-color: #b3c8c7

